{% extends '::admin_base.html.twig' %}

{% block body -%}
    <style>
        #eagle_adminbundle_user_submit{
            margin-top: 10px;
        }
    </style>
    <div style="padding-top: 20px; padding-left: 231px;">
    <h1>User edit</h1>

    {{ form(edit_form) }}
        
    </div>
{% endblock %}
