<div class="sidebar-widget">
    <h5 class="title">Right now</h5>
    <div class="content">
        <div class="rightnow">
            <ul class="unstyled">
                <li><span class="number">{{ allProducts }}</span><span class="icon16 icomoon-icon-new"></span>Products</li>
                <li><span class="number">{{ allCategories }}</span><span class="icon16 brocco-icon-list"></span>Categories</li>
                <li><span class="number">{{ allSales }}</span><span class="icon16 icomoon-icon-tag"></span>Products sold</li>
            </ul>
        </div>
    </div>

</div><!-- End .sidenav-widget -->